<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2009, 2018 CEA, Christian W. Damus, and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   CEA - Initial API and implementation
   Christian W. Damus (CEA) - bug 323802
   Christian W. Damus - bug 533676
   
-->
<plugin>
   <extension point="org.eclipse.ui.contexts" id="ui-context">
				      <?gmfgen generated="true"?>
				      <context
				         description="%context.description"
				         id="org.eclipse.papyrus.uml.diagram.sequence.ui.diagramContext"
				         name="%context.name"
				         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
				      </context>
				   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a new Sequence Diagram"
            id="org.eclipse.papyrus.uml.diagram.sequence.CreateSequenceDiagramCommand"
            name="Create a new Sequence Diagram">
      </command>
   </extension>
   
   
   
   <extension
         point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
      <editorDiagram
    	    actionBarContributorId="org.eclipse.papyrus.uml.diagram.common.part.UMLDiagramActionBarContributor"
            contextId="com.cea.papyrus.gmf.editor.context"
            factoryClass="org.eclipse.papyrus.uml.diagram.sequence.SequenceDiagramEditorFactory"
            icon="icons/obj16/Diagram_Sequence.gif">
      </editorDiagram>
      <creationCommand
            creationCommandClass="org.eclipse.papyrus.uml.diagram.sequence.CreateSequenceDiagramCommand"
            creationCondition="org.eclipse.papyrus.uml.diagram.sequence.SequenceDiagramCreationCondition"
            icon="icons/obj16/Diagram_Sequence.gif"
            id="org.eclipse.papyrus.uml.diagram.sequence.CreateSequenceDiagramCommand"
            label="Sequence Diagram"
            language="uml">
      </creationCommand>
   </extension>
	



   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.eclipse.papyrus.uml.diagram.sequence"
            labelProvider="org.eclipse.papyrus.uml.diagram.sequence.sheet.UMLSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.eclipse.papyrus.uml.diagram.sequence">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.eclipse.papyrus.uml.diagram.sequence">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.eclipse.papyrus.uml.diagram.sequence.sheet.UMLPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
         </propertySection>
      </propertySections>
   </extension>


<?gmfgen generated="true"?>

	<extension point="org.eclipse.core.runtime.preferences" id="prefs">
		      <?gmfgen generated="true"?>
		      <initializer class="org.eclipse.papyrus.uml.diagram.sequence.preferences.DiagramPreferenceInitializer"/>
		   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
	      <?gmfgen generated="true"?>
	      <viewProvider class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLViewProvider">
	         <Priority name="Lowest"/>
	         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="PapyrusUMLSequenceDiagram"/>
	         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="Interaction_Shape,ConsiderIgnoreFragment_Shape,CombinedFragment_Shape,InteractionOperand_Shape,InteractionUse_Shape,Continuation_Shape,Lifeline_Shape,ActionExecutionSpecification_Shape,BehaviorExecutionSpecification_Shape,StateInvariant_Shape,TimeConstraint_Shape,TimeObservation_Shape,DurationConstraint_Shape,DestructionOccurrenceSpecification_Shape,Constraint_Shape,Comment_Shape,DurationConstraint_Shape_CN,DurationObservation_Shape,Gate_Shape"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="Message_SynchEdge,Message_AsynchEdge,Message_ReplyEdge,Message_CreateEdge,Message_DeleteEdge,Message_LostEdge,Message_FoundEdge,Comment_AnnotatedElementEdge,Constraint_ConstrainedElementEdge,GeneralOrdering_Edge,Constraint_ContextEdge"/>
	      </viewProvider>
	   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
	      <?gmfgen generated="true"?>
	      <editpartProvider class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLEditPartProvider">
	         <Priority name="Lowest"/>
	         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
	            <method name="getType()" value="PapyrusUMLSequenceDiagram"/>
	         </object>
	         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
	            <method name="getType()" value="Interaction_Shape,ConsiderIgnoreFragment_Shape,CombinedFragment_Shape,InteractionOperand_Shape,InteractionUse_Shape,Continuation_Shape,Lifeline_Shape,ActionExecutionSpecification_Shape,BehaviorExecutionSpecification_Shape,StateInvariant_Shape,TimeConstraint_Shape,TimeObservation_Shape,DurationConstraint_Shape,DestructionOccurrenceSpecification_Shape,Constraint_Shape,Comment_Shape,DurationConstraint_Shape_CN,DurationObservation_Shape,Gate_Shape"/>
	         </object>
	         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
	            <method name="getType()" value="Message_SynchEdge,Message_AsynchEdge,Message_ReplyEdge,Message_CreateEdge,Message_DeleteEdge,Message_LostEdge,Message_FoundEdge,Comment_AnnotatedElementEdge,Constraint_ConstrainedElementEdge,GeneralOrdering_Edge,Constraint_ContextEdge"/>
	         </object>
	         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
	            <method name="getType()" value="Interaction_NameLabel,InteractionUse_NameLabel,InteractionUse_TypeLabel,Continuation_NameLabel,Lifeline_NameLabel,StateInvariant_NameLabel,StateInvariant_ConstraintLabel,TimeConstraint_ConstraintLabel,TimeConstraint_StereotypeLabel,TimeObservation_NameLabel,TimeObservation_StereotypeLabel,DurationConstraint_BodyLabel,DurationConstraint_StereotypeLabel,Constraint_NameLabel,Constraint_BodyLabel,Comment_BodyLabel,DurationConstraint_BodyLabel_CN,DurationConstraint_StereotypeLabel_CN,DurationObservation_NameLabel,DurationObservation_StereotypeLabel,Gate_NameLabel"/>
	         </object>
	         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
	            <method name="getType()" value="Interaction_SubfragmentCompartment,CombinedFragment_SubfragmentCompartment"/>
	         </object>
	         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
	      </editpartProvider>
	   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
	      <?gmfgen generated="true"?>
	      <IconProvider class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLIconProvider">
	         <Priority name="Low"/>
	      </IconProvider>
	   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
	      <?gmfgen generated="true"?>
	      <ParserProvider class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLParserProvider">
	         <Priority name="Lowest"/>
	      </ParserProvider>
	   </extension>


	   
	   
      
	      

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.eclipse.papyrus.uml.diagram.sequence.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.eclipse.papyrus.uml.diagram.sequence.part.UMLDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.eclipse.papyrus.uml.diagram.sequence.edit.parts.SequenceDiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.eclipse.papyrus.uml.diagram.sequence.part.UMLDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.eclipse.papyrus.uml.diagram.sequence.LoadResourceAction"
         name="Load Resource"
         categoryId="org.eclipse.papyrus.uml.diagram.sequence.part.UMLDiagramEditorID"
         defaultHandler="org.eclipse.papyrus.uml.diagram.sequence.part.LoadResourceAction"/>
   </extension>


<extension point="org.eclipse.ui.preferencePages" id="prefpages">
		      <?gmfgen generated="false"?>
		<page
		      id="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLSequenceDiagram"
		      name="PapyrusUMLSequenceDiagram Diagram"
		      category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams"
		      class="org.eclipse.papyrus.uml.diagram.sequence.preferences.CustomDiagramGeneralPreferencePage">
		</page>
		<page
		      id="org.eclipse.papyrus.uml.diagram.sequence.preferences.DiagramPrintingPreferencePage"
		      name="%prefpage.org.eclipse.uml2.uml.diagram.printing"
		      category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLSequenceDiagram"
		      class="org.eclipse.papyrus.uml.diagram.sequence.preferences.DiagramPrintingPreferencePage">
		</page>
		   </extension>




<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
				      <?gmfgen generated="true"?>
				      <MarkerNavigationProvider class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLMarkerNavigationProvider">
				         <MarkerType name="org.eclipse.papyrus.uml.diagram.sequence.diagnostic"/>
				         <Priority name="Lowest"/>
				      </MarkerNavigationProvider>
				   </extension>

<extension id="diagnostic" name="UML Plugin problems" point="org.eclipse.core.resources.markers">
				      <?gmfgen generated="true"?>
				      <super type="org.eclipse.core.resources.problemmarker"/>
				      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
				      <persistent value="true"/>
				   </extension>   
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <?gmfgen generated="false"?>
            <category id="org.eclipse.uml2.uml.util.UMLValidator.validate" mandatory="false" name="validateUMLModel">
         <![CDATA[Validate the UML model]]>
      </category>
      <category id="org.eclipse.uml2.uml.util.UMLValidator.validate/org.eclipse.papyrus.uml.diagram.sequence.validation.FragmentOrderingKeeper" mandatory="false" name="fragmentsOrder">
         <![CDATA[Fragments order]]>
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://www.eclipse.org/uml2/3.0.0/UML"/>
         <package namespaceUri="http://www.eclipse.org/gmf/runtime/1.0.2/notation"/>
               <constraints categories="org.eclipse.uml2.uml.util.UMLValidator.validate">
                  </constraints>
         <constraints categories="org.eclipse.uml2.uml.util.UMLValidator.validate/org.eclipse.papyrus.uml.diagram.sequence.validation.FragmentOrderingKeeper">
                  <constraint id="FragmentOrderingKeeper.Interaction"
            lang="Java" class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLValidationProvider$Adapter1"
            name="Interaction fragment ordering"
            mode="Live"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[The fragment property of an Interaction must be ordered as a valid trace.]]></description>
            <message><![CDATA[There is no valid trace sequencing the InteractionFragments in the fragment property. Some of them can not be organized as a valid sequence :{0}]]></message>
            <target class="uml.Interaction"/>
         </constraint>
                  <constraint id="FragmentOrderingKeeper.InteractionOperand"
            lang="Java" class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLValidationProvider$Adapter2"
            name="InteractionOperand fragment ordering"
            mode="Live"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[The fragment property of an InteractionOperand must be ordered as a valid trace.]]></description>
            <message><![CDATA[There is no valid trace sequencing the InteractionFragments in the fragment property. Some of them can not be organized as a valid sequence :{0}]]></message>
            <target class="uml.InteractionOperand"/>
         </constraint>
                  <constraint id="FragmentOrderingKeeper.LifelineFigure"
            lang="Java" class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomValidationProvider$Adapter3"
            name="Fragment ordering"
            mode="Live"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[The fragment property of an Interaction or InteractionOperand must be ordered as a valid trace.]]></description>
            <message><![CDATA[There is no valid trace sequencing the InteractionFragments in the fragment property. Some of them can not be organized as a valid sequence :{0}]]></message>
            <?use View and Bounds to detect moves?>
      		<target class="notation.View"/>
            <target class="notation.Bounds"/>
         </constraint>
                  </constraints>
      </constraintProvider>
   </extension>

<extension point="org.eclipse.emf.validation.constraintBindings">
      <?gmfgen generated="true"?>
      <clientContext default="false" id="org.eclipse.papyrus.uml.diagram.sequenceDefaultCtx">
         <selector class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLValidationProvider$DefaultCtx"/>
      </clientContext>
      <binding context="org.eclipse.papyrus.uml.diagram.sequenceDefaultCtx">
                  <constraint ref="org.eclipse.papyrus.uml.diagram.sequence.FragmentOrderingKeeper.Interaction"/>
                  <constraint ref="org.eclipse.papyrus.uml.diagram.sequence.FragmentOrderingKeeper.InteractionOperand"/>
               </binding>

      <clientContext default="false" id="org.eclipse.papyrus.uml.diagram.sequenceCtx_3001">
         <selector class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLValidationProvider$Ctx_3001"/>
      </clientContext>
      <binding context="org.eclipse.papyrus.uml.diagram.sequenceCtx_3001">
                  <constraint ref="org.eclipse.papyrus.uml.diagram.sequence.FragmentOrderingKeeper.LifelineFigure"/>
               </binding>

   </extension>
<extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
				      <?gmfgen generated="true"?>
				      <decoratorProvider class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLValidationDecoratorProvider">
				         <Priority name="Lowest"/>
				         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
				         <context decoratorTargets="PRIMARY_VIEW"/>
				      </decoratorProvider>
				   </extension>

<extension point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <?gmfgen generated="true"?>
         <clientContext id="org.eclipse.papyrus.uml.diagram.sequenceDefaultCtx"/>
         <clientContext id="org.eclipse.papyrus.uml.diagram.sequenceCtx_3001"/>
      </extension>
<extension
      point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
   <editpolicyProvider
         class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomEditPolicyProvider">
      <Priority
            name="Lowest">
      </Priority>
   </editpolicyProvider>
   <editpolicyProvider
         class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomNamespaceEditPolicyProvider">
      <Priority
            name="Lowest">
      </Priority>
   </editpolicyProvider>
   <editpolicyProvider
         class="org.eclipse.papyrus.uml.diagram.sequence.providers.PostEditPolicyProvider">
      <Priority
            name="Highest">
      </Priority>
   </editpolicyProvider>
   <editpolicyProvider
         class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomExecutionSpecificationEditPolicyProvider">
      <Priority
            name="Highest">
      </Priority>
   </editpolicyProvider>
    <editpolicyProvider
         class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomCombinedFragmentEditPolicyProvider">
      <Priority
            name="Highest">
      </Priority>
   </editpolicyProvider>
   <editpolicyProvider
         class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomInteractionUseEditPolicyProvider">
      <Priority
            name="Highest">
      </Priority>
   </editpolicyProvider>
   <editpolicyProvider
         class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomInteractionEditPolicyProvider">
      <Priority
            name="Highest">
      </Priority>
   </editpolicyProvider>
   <editpolicyProvider
         class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomInteractionOperandEditPolicyProvider">
      <Priority
            name="Highest">
      </Priority>
   </editpolicyProvider>
</extension>
   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomEditPartProvider">
         <Priority name="Medium"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="PapyrusUMLSequenceDiagram"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="Interaction_Shape,ConsiderIgnoreFragment_Shape,CombinedFragment_Shape,InteractionOperand_Shape,InteractionUse_Shape,Continuation_Shape,Lifeline_Shape,ActionExecutionSpecification_Shape,BehaviorExecutionSpecification_Shape,StateInvariant_Shape,CombinedFragment_CoRegionShape,TimeConstraint_Shape,TimeObservation_Shape,DurationConstraint_Shape,DestructionOccurrenceSpecification_Shape,Constraint_Shape,Comment_Shape,DurationConstraint_Shape_CN,DurationObservation_Shape"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="Message_SynchEdge,Message_AsynchEdge,Message_ReplyEdge,Message_CreateEdge,Message_DeleteEdge,Message_LostEdge,Message_FoundEdge,Comment_AnnotatedElementEdge,Constraint_ConstrainedElementEdge,GeneralOrdering_Edge,Constraint_ContextEdge"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="Interaction_NameLabel,InteractionUse_NameLabel,InteractionUse_TypeLabel,Continuation_NameLabel,Lifeline_NameLabel,StateInvariant_NameLabel,StateInvariant_ConstraintLabel,TimeConstraint_ConstraintLabel,TimeConstraint_StereotypeLabel,TimeObservation_NameLabel,TimeObservation_StereotypeLabel,DurationConstraint_BodyLabel,DurationConstraint_StereotypeLabel,Constraint_NameLabel,Constraint_BodyLabel,Comment_BodyLabel,DurationConstraint_BodyLabel_CN,DurationConstraint_StereotypeLabel_CN,DurationObservation_NameLabel,DurationObservation_StereotypeLabel"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="Interaction_SubfragmentCompartment,CombinedFragment_SubfragmentCompartment"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>
   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.papyrus.uml.diagram.sequence.providers.CustomViewProvider">
         <Priority name="Medium"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="PapyrusUMLSequenceDiagram"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="Interaction_Shape,ConsiderIgnoreFragment_Shape,CombinedFragment_Shape,InteractionOperand_Shape,InteractionUse_Shape,Continuation_Shape,Lifeline_Shape,ActionExecutionSpecification_Shape,BehaviorExecutionSpecification_Shape,StateInvariant_Shape,CombinedFragment_CoRegionShape,TimeConstraint_Shape,TimeObservation_Shape,DurationConstraint_Shape,DestructionOccurrenceSpecification_Shape,Constraint_Shape,Comment_Shape,DurationConstraint_Shape_CN,DurationObservation_Shape"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="Message_SynchEdge,Message_AsynchEdge,Message_ReplyEdge,Message_CreateEdge,Message_DeleteEdge,Message_LostEdge,Message_FoundEdge,Comment_AnnotatedElementEdge,Constraint_ConstrainedElementEdge,GeneralOrdering_Edge,Constraint_ContextEdge"/>
      </viewProvider>
   </extension>

<extension
      point="org.eclipse.ui.handlers">
   <handler
         commandId="org.eclipse.papyrus.uml.diagram.menu.command.sameSize.both">
      <class
            class="org.eclipse.papyrus.uml.diagram.sequence.handlers.CustomSizeHandler">
         <parameter
               name="org.eclipse.papyrus.uml.diagram.menu.commandSizeParameter"
               value="parameter_both">
         </parameter>
      </class>
      <activeWhen>
         <reference
               definitionId="org.eclipse.papyrus.uml.diagram.sequence.customHandlerActivation">
         </reference>
      </activeWhen>
   </handler>
   <handler
         commandId="org.eclipse.papyrus.uml.diagram.menu.command.sameSize.height">
      <class
            class="org.eclipse.papyrus.uml.diagram.sequence.handlers.CustomSizeHandler">
         <parameter
               name="org.eclipse.papyrus.uml.diagram.menu.commandSizeParameter"
               value="parameter_height">
         </parameter>
      </class>
      <activeWhen>
         <reference
               definitionId="org.eclipse.papyrus.uml.diagram.sequence.customHandlerActivation">
         </reference>
      </activeWhen>
   </handler>
   <handler
         commandId="org.eclipse.papyrus.uml.diagram.menu.command.sameSize.width">
      <class
            class="org.eclipse.papyrus.uml.diagram.sequence.handlers.CustomSizeHandler">
         <parameter
               name="org.eclipse.papyrus.uml.diagram.menu.commandSizeParameter"
               value="parameter_width">
         </parameter>
      </class>
      <activeWhen>
         <reference
               definitionId="org.eclipse.papyrus.uml.diagram.sequence.customHandlerActivation">
         </reference>
      </activeWhen>
   </handler>
</extension>
<extension
      point="org.eclipse.core.expressions.definitions">
   <definition
         id="org.eclipse.papyrus.uml.diagram.sequence.customHandlerActivation">
      <with
            variable="activeContexts">
         <iterate
               ifEmpty="true"
               operator="or">
            <equals
                  value="org.eclipse.papyrus.uml.diagram.sequence.ui.diagramContext">
            </equals>
         </iterate>
      </with>
   </definition>
</extension>


    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <dynamic
               class="org.eclipse.papyrus.uml.diagram.sequence.providers.DurationConstraintContributionItem"
               id="org.eclipse.papyrus.sequence.duraitonconstraint.DynamicMenu">
         </dynamic>
         <dynamic
               class="org.eclipse.papyrus.uml.diagram.sequence.providers.DisplayBehaviorContributionItem"
               id="org.eclipse.papyrus.uml.diagram.sequence.displayBehaviorMenu">
         </dynamic>
      </menuContribution>
   </extension>
   
<extension point="org.eclipse.papyrus.infra.gmfdiag.common.notationTypesMapping"> 
   <?gmfgen generated="true"?>
   <diagramMappings diagramID="PapyrusUMLSequenceDiagram">
   	<mapping type="PapyrusUMLSequenceDiagram" humanReadableType="SequenceDiagram"/>
			<mapping
				humanReadableType="Interaction"
				type="Interaction_SubfragmentCompartment">
			</mapping>
			<mapping
				humanReadableType="CombinedFragment"
				type="CombinedFragment_SubfragmentCompartment">
			</mapping>
			<mapping
				humanReadableType="Name"
				type="Message_SynchNameLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="Message_SynchStereotypeLabel">
			</mapping>
			<mapping
				humanReadableType="Name"
				type="Message_AsynchNameLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="Message_AsynchStereotypeLabel">
			</mapping>
			<mapping
				humanReadableType="Name"
				type="Message_ReplyNameLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="Message_ReplyStereotypeLabel">
			</mapping>
			<mapping
				humanReadableType="Name"
				type="Message_CreateNameLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="Message_CreateStereotypeLabel">
			</mapping>
			<mapping
				humanReadableType="Name"
				type="Message_DeleteNameLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="Message_DeleteStereotypeLabel">
			</mapping>
			<mapping
				humanReadableType="Name"
				type="Message_LostNameLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="Message_LostStereotypeLabel">
			</mapping>
			<mapping
				humanReadableType="Name"
				type="Message_FoundNameLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="Message_FoundStereotypeLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="GeneralOrdering_StereotypeLabel">
			</mapping>
			<mapping
				humanReadableType="Stereotype"
				type="Constraint_KeywordLabel">
			</mapping>
			<mapping
				humanReadableType="Floating Label"
				type="Gate_NameLabel">
			</mapping>
			<mapping
				humanReadableType="Name"
				type="Gate_NameLabel">
			</mapping>
   </diagramMappings>
</extension>


   <!-- optionally, specify keybindings -->

    <extension
            point="org.eclipse.papyrus.infra.gmfdiag.canonical.strategies">
        <semanticChildrenStrategy
                class="org.eclipse.papyrus.uml.diagram.sequence.canonical.LifelineSemanticChildrenStrategy">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.papyrus.uml.diagram.sequence.edit.parts.LifelineEditPart"/>
                  <instanceof
                        value="org.eclipse.papyrus.uml.diagram.sequence.edit.parts.AbstractExecutionSpecificationEditPart"/>
                  <instanceof
                        value="org.eclipse.papyrus.uml.diagram.sequence.edit.parts.InteractionOperandEditPart"/>
               </or>
            </enablement>
        </semanticChildrenStrategy>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.common.diagramReconciler">
       <diagramReconciler
             diagramType="PapyrusUMLSequenceDiagram"
             reconcilerClass="org.eclipse.papyrus.uml.diagram.sequence.migration.SequenceReconcilerForCompartment_1_2_0"
             source="1.1.0"
             target="1.4.0">
       </diagramReconciler>
       <diagramReconciler
             diagramType="PapyrusUMLSequenceDiagram"
             reconcilerClass="org.eclipse.papyrus.uml.diagram.sequence.migration.SequenceReconciler_1_2_0"
             source="1.1.0"
             target="1.4.0">
       </diagramReconciler>
       <diagramReconciler
             diagramType="PapyrusUMLSequenceDiagram"
             reconcilerClass="org.eclipse.papyrus.uml.diagram.sequence.migration.SequenceReconciler_1_3_0"
             source="1.1.0"
             target="1.4.0">
       </diagramReconciler>
       <diagramReconciler
             diagramType="PapyrusUMLSequenceDiagram"
             reconcilerClass="org.eclipse.papyrus.uml.diagram.sequence.migration.SequenceDiagramLunaToMarsReconciler"
             source="1.0.0"
             target="1.4.0">
   	   </diagramReconciler>
       <diagramReconciler
             diagramType="PapyrusUMLSequenceDiagram"
             reconcilerClass="org.eclipse.papyrus.uml.diagram.sequence.migration.RetargetMessageEndFromExecutionSpecificationToLifelineDiagramReconciler_1_4_0"
             source="undefined"
             target="1.4.0">
       </diagramReconciler>
    </extension>
   <extension point="org.eclipse.papyrus.infra.gmfdiag.common.visualTypeProviders">
	      <?gmfgen generated="true"?>
	      <visualTypeProvider
	            class="org.eclipse.papyrus.uml.diagram.sequence.providers.UMLVisualTypeProvider"
	            diagramType="PapyrusUMLSequenceDiagram">
	         </visualTypeProvider>
	   </extension>
<extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <extension
         point="org.eclipse.papyrus.infra.services.validation.validationHooks">
      <validationHook
            id="org.eclipse.papyrus.uml.diagram.sequence.ocl"
            filter="org.eclipse.papyrus.uml.service.validation.internal.UMLFilter"
            hook="org.eclipse.papyrus.uml.diagram.sequence.validation.SequenceOCLRegistration"/>
   </extension>
</plugin>
